.side-drawer-cover-flex {
    width: 100%;

    .side-drawer-cover-item {

        
    }
}

.box-cover {
    
}


.drawer-cover {

    .drawer-list-comp-cover-flex {

        .drawer-list-comp-cover-item {

            .header-drawer-btn {
                color: var(--btn-color);

                .header-menu-icon {
                    font-size: 1.2rem;
                }
            }
            .logo-cover-flex {
                width: 100%;
                display: flex;
                justify-content: flex-start;

                .logo-cover-item {
                    width: 55%;

                    .logo-img {
                        width: 100%;
                    }
                }
            }

            .list-header-cover-flex {
                width: 100%;
                display: flex;
                justify-content: center;

                .list-header-cover-item {
                    width: 80%;

                    .header1-cover {
                        width: 100%;
                        padding-top: 20px;

                        .list-header-btn {
                            font-size: 0.83rem;
                            font-weight: 600;
                            color: var(--font-title-color);
                            font-family: var(--dashboard-font-family);
                            text-transform: capitalize;

                            &:hover {
                                background-color: transparent !important;
                            }
                        }
                        .list-header-menu {

                        }
                    }
                    .header2-cover {
                        width: 100%;
                        padding-top: 15px;

                        .page-name-text {
                            font-size: 0.88rem;
                            font-weight: 400;
                            color: var(--font-subtitle-color);
                            font-family: var(--dashboard-font-family);
                        }
                    }
                }
            }
            .list-cover {

                .list-item-title-cover-flex {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .list-item-title-cover-item {
                        padding-top: 15px;
                        padding-bottom: 8px;
                        width: 80%;
                        font-size: 0.7rem;
                        font-weight: 600;
                        color: var(--font-subtitle-color);
                        font-family: var(--dashboard-font-family);
                    }

                }
                .list-item-main-cover {
                    width: 100%;

                    .list-item-cover {
                        width: 100%;
                        padding: 0px !important;

                        .list-item-btn-cover {

                            .list-item-icon-cover {
                                min-width: 25px !important;
                                padding: 0px !important;
                                display: flex;
                                justify-content: flex-start;

                                .list-item-icon {
                                    width: 65%;
                                }
                            }
                            .list-item-text-cover {

                                .MuiTypography-root {
                                    font-size: 0.8rem !important;
                                    font-weight: 400;
                                    color: var(--font-subtitle-color);
                                    font-family: var(--dashboard-font-family);
                                }
                            }

                            &-active {
                                border-left: 4px solid var(--btn-color);
                                background-color: var(--dashboard-page-bgColor);
                            }
                        }
                    }
                }
            }
        }
    }
}